{% include 'navbar.html' %}
{% load static %}
<link rel="stylesheet" href="{%static 'style.css' %}">
<style>
    button
    {
      font-size: 40px;
      padding: 10px;
      border-radius: 10px;
      margin: 20px;
    }
    #container
    {
        text-align: center;
    }
   
    #btnTwo
    {
        display: block;
        margin:auto;
    }
    #btnThree
    {
        position:fixed;
        left:43%;
        top:30%;
    }
    #btnFour
    {
        position: fixed;
        left:45%;
        top:40%;
    }
</style>
<body>
    <section class="home">
 <div id="container">
     <button>Apply</button>
    </div>
</section>
<section class="home">
    <div id="container">
        <button>Make Payment</button>
       </div>
   </section>
   <section class="home">
    <div id="container">
        <button>View Result</button>
       </div>
   </section>
   <section class="home">
    <div id="container">
        <button>View Admission Circular</button>
       </div>
   </section>



</body>
