{% include 'navbar.html' %}
{% load static %}
<link rel="stylesheet" href="{%static 'style.css' %}">
<title>Home</title>
<section class="home">
        <center>
            <font size="6">
                  
<p style="color:red">Notice Board</p>
            </font>
            <font size="4">   
<p><marquee>Admission going on</marquee></p>
            </font>
        </center>
</section>

<section class="home">
    <center>
        <font size="6">
            <p>Message By Principle</p>
        </font>
        <font size="4">
            <p>Welcome to our school website</p>
        </font>
    </center>
</section>